<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--For favicon, we just put it into src/main/resources/favicon.ico OR src/main/resources/static/favicon.ico, by default the name of file must be "favicon.ico"-->
<meta charset="UTF-8" />
<title th:text="${title}"></title>

</head>
<body>
	<h1 th:text="${title}"></h1>
	<br>
	<h1 th:text="${header}"></h1>

</body>
</html>