<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--For favicon, we just put it into src/main/resources/favicon.ico OR src/main/resources/static/favicon.ico, by default the name of file must be "favicon.ico"-->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<title th:text="${title}"></title>
<!-- Root folder is "static" by default -->
</head>
<body>
	<img th:src="@{/images/SpringFramework.png}"></img>
	<h1 class="headers" th:text="${header}"></h1>
	<br>
	<h2 class="subtitles">This is a H2 tag decorated with CSS styles</h2>
	<h3 class="tags" th:text="${sampleValueFromProperties}"></h3>
</body>
</html>