<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--For favicon, we just put it into src/main/resources/favicon.ico OR src/main/resources/static/favicon.ico, by default the name of file must be "favicon.ico"-->
<meta charset="UTF-8" />
<title th:text="${title}"></title>

</head>
<body>
	<h1 th:text="${header}"></h1>
	<div th:if="${users.isEmpty()}">No users have been previously
		registered!!!</div>
	<table th:if="${!users.isEmpty()}">
		<thead>
			<tr>
				<th>Name:</th>
				<th>Email:</th>
				<th>Password:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.pass}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<h1>Table generated with @ModelAttribute annotation</h1>
	<table th:if="${!usersGeneric.isEmpty()}">
		<thead>
			<tr>
				<th>Name:</th>
				<th>Email:</th>
				<th>Password:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${usersGeneric}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.pass}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>